.create-grounp {
  display: flex;
  height: calc(100vh - 300px);
  .left {
    flex: 1;
    padding-right: 3%;
    border-right: #ccc 1px solid;
  }
  .right {
    padding-left: 3%;
    flex: 2;
  }
}
