.mr5 {
  margin-right: 5px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.flex_SB {
  display: flex;
  justify-content: space-between;
}
.cursor_pointer {
  cursor: pointer;
}
.fs18 {
  font-size: 18px;
}
.layouts {
  min-height: 100vh;

  .head {
    height: 70px;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .left {
      display: flex;
      img {
        margin: -5px 10px 0 0;
      }
      .logo {
        font-size: 24px;
        line-height: 70px;
        width: 300px;
        padding-left: 15px;
      }
      .name {
        display: inline-block;
        color: #252525;
        .name1 {
          margin-right: 5px;
          color: #1b55d1;
        }
      }
    }
    .nav {
      width: 100%;
      margin-right: 170px;
      text-align: center;
      div.item {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: #252525;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        line-height: 69px;
        padding: 0 26px;
        cursor: pointer;
        &.active,
        &:hover {
          color: #1b55d1;
          border-bottom: 1px solid #1b55d1;
          background-color: rgba(39, 98, 224, 0.1);
        }
      }
    }
    & > .right {
      margin-right: 15px;
      min-width: 280px;
      display: flex;
      justify-content: space-between;
      .loginInfo {
        width: 145px;
        line-height: 32px;
        background-color: #f6f4ff;
        color: #031a6e;
        border-radius: 10px;
        margin-right: 8px;
        text-align: center;
        cursor: pointer;
      }
      & > img {
        cursor: pointer;
        margin-top: 2px;
      }
      .custom-dark-select-selector {
        border: none;
      }
      .ant-select-selector,
      .custom-dark-select,
      .custom-default-select {
        background-color: rgba(0, 0, 0, 0);
        border: none;
      }
    }
  }
  &.dark {
    background-color: #152131;
    color: #ced0e3;
    .head {
      background: #1a2940;
      & > .left {
        .name2 {
          color: white;
        }
      }
      .nav {
        div.item {
          color: white;
        }
      }
      & > .right {
        .ant-select-selector {
          color: #999;
        }
      }
    }
    .custom-dark-table {
      background: #192534;
    }
    .custom-dark-table-thead > tr > th {
      background: #3b4655;
    }
  }
}
.container {
  width: 1440px;
  margin: 15px auto;
}

.custom-dark-modal-body h3 {
  color: white;
}
